h1{
	text-align: center;
}
*{
	box-sizing: border-box;
}
#head1{
	background-color: red;
	float: right;
	position: relative;
	bottom: 6px;
	left: 6px;
	padding: 5px;
	height: 30px;
	width: 20%;
    border: 2px solid black;
}
#head2{
   background-color: blue;
   float: right;
   position: relative;
	bottom: 6px;
	left: 6px;
   padding: 5px;
   width: 20%;
   border: 2px solid black;
}
#head3{
   background-color: yellow;
   float: right;
   position: relative;
	bottom: 6px;
	left: 6px;
   padding: 5px;
   width: 20%;
   border: 2px solid black;
}
#box1{
	background-color: gray;
	margin: 10px;
	padding: 4px;
	border: 2px solid black;
}
#box2{
	background-color: gray;
	margin: 10px;
	padding: 4px;
	border: 2px solid black;
}
#box3{
	background-color: gray;
	margin: 10px;
	padding: 4px;
	border: 2px solid black;
}
.row {
	width: 100%;
}
@media (min-width: 992px){
	.col-lg-4
	{
		float: left;
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6
	{
		float: left;
		width:50%;
	}
	.col-md-5
	{
		width: 100%;
        float: left;
	}
}